.PatternBox{
    background-color: #e6e6e6;
    color:#6c757d;
    padding: 1em;
}
.PatternList{
    padding: 0.1em;
    font-size:1em;
    font-weight: lighter;
}
.PatternBadge{
    font-weight: lighter;
}
.prevBeat{
    width: 0.5em;
    height: 1em;
    border: #ffffff 1px solid;
    float: left;
}
.prevOn{
    background-color: crimson;
}
.prevOff{
    background-color: #ffffff;
}