html,
body {
  font-family: 'Patrick Hand', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.3em;
}

.HeaderTitle {
  font-size: 1em;
  font-weight: bold;
  color: #fff;
}

.flagsList {
  /* position: absolute !important;
  left: 250px;
  top: 10px; */
  color: #e65100;
}

.flag-select__btn::after {
  border-top: 5px solid #fff;
}

.flag-select__btn[aria-expanded="true"]::after {
  border-top: 0;
  border-bottom: 5px solid #fff;
}

.contentBody {
  position: absolute;
  top: 0;
  width: 100%;
}
