.navbar-custom {
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-custom .navbar-brand {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.buttonMenu,
.buttonMenu:hover {
  width: 80px;
  color: white;
  text-decoration: none;
  padding: 10px 0 5px 0;
}

.navBrand,
.navBrand:hover {
  color: white;
  text-decoration: none;
}

.buttonMenu:hover {
  background: url(../../img/scratch.png);
}
