.navbar-custom {
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-custom .navbar-brand {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.buttonMenu,
.buttonMenu:hover {
  width: 120px;
  color: white;
  text-decoration: none;
  padding: 0 10px 0 10px;
  margin-left: 10px;
}

.navBrand,
.navBrand:hover {
  color: white;
  text-decoration: none;
}

.buttonMenu:hover {
  background: url(../../img/scratch.png);
}

.brandLogo {
  width: 50px;
}

.flagsList {
  border: 0 solid #000;
  position: relative;
  top: -10px;
}
